body {
padding: 30px;
}

.navbar {
margin-bottom: 30px;
}

.axis text{
  font: 10px sans-serif;
}

.axis path,
.axis line{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.ttip {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 2px 6px;
  color: rgb(20, 20, 20);
}
.ttip h3 {
  text-align: center;
  padding-top: 0px;
  margin-top: 5px;
}

.border-a {
  border: 2px solid rgb(26,152,80);
}
.border-b {
  border: 2px solid rgb(145,207,96);
}
.border-c {
  border: 2px solid rgb(217,239,139);
}
.border-d {
  border: 2px solid rgb(254,224,139);
}
.border-e {
  border: 2px solid rgb(252,141,89);
}
.border-f {
  border: 2px solid rgb(215,48,39);
}


